.about {
  .card-profile {
    margin-top: 100px;
  }

  .card-profile .card-avatar {
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
      margin: 0;
    }
  }

  .card-body {
    padding-left: 5px;
    padding-right: 5px;
    .card-title {
      color: #fff;
    }
    .card-category,
    .card-description {
      color: hsla(0,0%,100%,.7);
    }

    .card-footer {
      color: #fff;
    }
  }
}