.modal {
  position: absolute;
  width: calc(100% - 32px);
  height: fit-content;
  box-shadow: 0 4px 12px #2b2b2b;
  animation-timing-function: ease-in-out;

  &__structure {
    width: 100%;
    height: calc(100vh - 32px);
    overflow: hidden;
    overflow-y: auto;
    background: #000;
    border-radius: 4px;
    box-shadow: 0 4px 12px #2b2b2b;
  }

  &__image {
    width: 100%;
    height: 142px;
    background: #c352c3;
  }

  &__content {
    padding: 20px 10px;
  }

  &__title {
    color: #fff;
    text-align: center;
  }

  &__description {
    color: #fff;
    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    button {
      flex-grow: 1;
      width: 140px;
      height: 116px;
      min-height: 148px;
      margin: 8px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #E8E8E8;
      border-radius: 4px;
      color: #fff;
      background: #2b2b2b;

      span {
        font-size: 20px;
        font-weight: 600;
        display: block;
        margin: 10px auto;
      }
    }

    .link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      color: var(--be-base-secondary-dark);
      &:hover { 
        color: #000;
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 16px;
  opacity: 1;
}

.LG .modal {
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__structure {
    display: flex;
    width: 748px;
    height: 487px;
  }

  &__image {
    width: 224px;
    height: 487px;
    background-position: center;
  }

  &__buttons {
    flex-flow: column wrap;
    flex-flow: row wrap;
    height: 328px;
    padding: 0 var(--be-spacing-internal-05);
  }
}